<div class ="complete">
<div class ="resident">
    <div class ="resident"></div><a href="https://www.google.com/" class="resident1"><b>Generate Vid</b></a> </div><br />
    <div class ="resident"> <a href="https://www.google.com/" class="resident1"><b>Revoke Vid</b></a> </div><br />
    <div class ="resident"><a href="https://www.google.com/"class="resident1"><b>Vid Status</b></a> </div><br />
    <div class ="resident"><a href="https://www.google.com/"class="resident1"><b>Update UIN</b></a> </div><br />
    <div class ="resident"><a href="https://www.google.com/"class="resident1"><b>Request Print UIN</b></a> </div><br />
    <div class ="resident"><a href="https://www.google.com/"class="resident1"><b>Request Print UIN</b></a> </div><br />
    <div class ="resident"> <a href="https://www.google.com/"class="resident1"><b>Request EUIN</b></a> </div><br />
    <div class ="resident"><a href="https://www.google.com/"class="resident1"><b>Update demographic details</b></a> </div><br />
    <div class ="resident"> <a href="https://www.google.com/"class="resident1"><b>Lock / Unlock</b></a> 

</div>
</div>
