<head>
    <style>
    div {
      
      margin:25px ;
      
    }
    </style>
    </head>

<p style="padding: 5px;background-color: antiquewhite; align-content: center; text-align: center; font-style: inherit; font-size: large; font-weight: bold;">
      {{'mainpage.aboutResident' | translate}}</p>
    <p style="padding: 5px; align-content: center; text-align: center; font-size: large; font-weight: bold;">{{'mainpage.aboutResidentsubtext1' | translate}}</p>
        <p style="padding: 5px; align-content: center; text-align: center; font-size: large; font-weight: bold;">{{'mainpage.aboutResidentsubtext2' | translate}} </p>  

<div id="main-content">
  <div  style="background-color: azure;">
     
     
              <div class="col-10 pull-left">
                 
                  <div class="itempage home no-background">
                 
                      <div class="item-page home no-background" itemscope="" itemtype="https://schema.org/Article">
                          <meta itemprop="inLanguage" content="en-GB">

                          <div class="page-header">
                              <!--
    <h2 itemprop="headline">
        </h2>
-->

                          </div>

                          <div>
                              <h1 class="content-heading">xyz</h1>

                              <div >&nbsp;
                                  <!-- START: Modules Anywhere -->
  
                                <ul class="nav menu custom-menu-layout col-xs-12"   >
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body" >
                                                <h2 class="Update UIN">{{'mainpage.bookmodifyappointment' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80" >
                                        <br>
                                            <li class=" item-2378 child-class"><h3>{{'mainpage.aboutappointment' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutappointment1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/0">{{'mainpage.bookmodifyappointment' | translate}}</button>
                                            </ul>
                                    </li>



                                      <li class=" item-2377 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="Generate Virtual ID">{{'mainpage.genVID' | translate}}</h2>
                                                 
                                              </div>
                                          </div>                                       
                                          <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2378 child-class"><h3><strong>{{'mainpage.subtext' | translate}}</strong></h3></li>
                                              <li class=" item-2378 child-class"><h3>{{'mainpage.aboutVID' | translate}}</h3></li>
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutgenVID' | translate}}</h3></li>
                                              <br> <button class="button2 button" routerLink="/residentServices/1">{{'mainpage.genVID' | translate}}</button>
                                         </ul>
                                      </li>

                                      <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Revoke Virtual ID">{{'mainpage.revVID' | translate}}</h2>
                                    
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2380 child-class"><h3><strong>{{'mainpage.aboutrevokeVID' | translate}}</strong></h3></li>
                                          
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutrevVID' | translate}}</h3></li>
                                              <br><button  class="button2 button" routerLink="/residentServices/2">{{'mainpage.revVID' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Check VID Status">{{'mainpage.checkVIDStatus' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.twotypesVID' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutVIDStatus' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/residentServices/3">{{'mainpage.checkVIDStatus' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update UIN">{{'mainpage.UpdateUIN' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutUIN' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutUIN1' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/residentServices/4">{{'mainpage.UpdateUIN' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Request/Print UIN">{{'mainpage.reqprintuin' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutprintuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutprintuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/5">{{'mainpage.reqprintuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Request EUIN">{{'mainpage.reqeuin' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.abouteuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.abouteuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/6">{{'mainpage.reqeuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update Demographic details">{{'mainpage.Updatedemographic' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.aboutdemographic' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutdemographic1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/7">{{'mainpage.Updatedemographic' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Lock/Unlock">{{'mainpage.lockunlock' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutlockunlock' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutlockunlock1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/8">{{'mainpage.lockunlock' | translate}}</button>
                                            </ul>
                                    </li>

                                  </ul>
                                  <!-- END: Modules Anywhere -->
                              </div>
                              
                          </div>

                          
                      </div>
                  </div>
                                      </div>

              
          </div>

      </div>
