<div id="main-content" class="tjbase-mainbodyblock  home no-background parentid-2376  com_content view-article ">
  <div class="container">
      <div class="row">
          <div id="message-component" class="col-xs-12">
              <div id="system-message-container">
              </div>

          </div>
      </div>
      <div id="mainbody" class="tjbase-mainbody">
          <div id="maincontent" class="col-xs-12 col-sm-8" role="main">

              <div class="col-10 pull-left">
                  <script type="text/javascript">
                      ;
                      (function($) {
                          $.fn.sharePopup = function(e, intWidth, intHeight, blnResize) {

                              // Prevent default anchor event
                              e.preventDefault();

                              // Set values for window
                              intWidth = intWidth || '500';
                              intHeight = intHeight || '400';
                              strResize = (blnResize ? 'yes' : 'no');

                              // Set title and open popup with focus on it
                              var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
                                  strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
                                  objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
                          }

                          $(document).ready(function($) {
                              $('.contentshare').on("click", function(e) {
                                  $(this).sharePopup(e);
                              });
                          });

                      }(jQuery));
                  </script>
                  <div class="itempage home no-background">
                      <div class="cs-top-gradient"></div>
                      <div class="item-page home no-background" itemscope="" itemtype="https://schema.org/Article">
                          <meta itemprop="inLanguage" content="en-GB">

                          <div class="page-header">
                              <!--
    <h2 itemprop="headline">
        </h2>
-->

                          </div>

                          <div class="fields-container search-result-design">
                          </div>
                          <div itemprop="articleBody">
                              <h1 class="content-heading">
  English Home Content			</h1>

                              <div>&nbsp;
                                  <!-- START: Modules Anywhere -->
                                  <ul class="nav menu custom-menu-layout">
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update UIN">{{'mainpage.bookmodifyappointment' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                        <br>
                                            <li class=" item-2378 child-class"><h3>{{'mainpage.aboutappointment' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutappointment1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/0">{{'mainpage.bookmodifyappointment' | translate}}</button>
                                            </ul>
                                    </li>



                                      <li class=" item-2377 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="Generate Virtual ID">{{'mainpage.genVID' | translate}}</h2>
                                                  <div class="byline-description pl-60">
                                                      <p class="mb-0"><strong>{{'mainpage.subtext' | translate}}</strong></p>
                                                    
                                                  </div>
                                              </div>
                                          </div>                                       
                                          <ul class="nav-child unstyled small pl-80">
                                              
                                              <li class=" item-2378 child-class"><h3>{{'mainpage.aboutVID' | translate}}</h3></li>
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutgenVID' | translate}}</h3></li>
                                              <br> <button class="button2 button" routerLink="/residentServices/1">{{'mainpage.genVID' | translate}}</button>
                                         </ul>
                                      </li>

                                      <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Revoke Virtual ID">{{'mainpage.revVID' | translate}}</h2>
                                                <div class="byline-description pl-60">
                                                    <p class="mb-0"><strong>{{'mainpage.aboutrevokeVID' | translate}}</strong></p>
                                                  
                                                </div>
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutrevVID' | translate}}</h3></li>
                                              <br><button  class="button2 button" routerLink="/residentServices/2">{{'mainpage.revVID' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Check VID Status">{{'mainpage.checkVIDStatus' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.twotypesVID' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutVIDStatus' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/residentServices/3">{{'mainpage.checkVIDStatus' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update UIN">{{'mainpage.UpdateUIN' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutUIN' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutUIN1' | translate}}</h3></li>
                                            <br>   <button  class="button2 button" routerLink="/residentServices/4">{{'mainpage.UpdateUIN' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Request/Print UIN">{{'mainpage.reqprintuin' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutprintuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutprintuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/5">{{'mainpage.reqprintuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Request EUIN">{{'mainpage.reqeuin' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.abouteuin' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.abouteuin1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/6">{{'mainpage.reqeuin' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update Demographic details">{{'mainpage.Updatedemographic' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br> <li class=" item-2378 child-class"><h3>{{'mainpage.aboutdemographic' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutdemographic1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/7">{{'mainpage.Updatedemographic' | translate}}</button>
                                            </ul>
                                    </li>
                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Lock/Unlock">{{'mainpage.lockunlock' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <br>  <li class=" item-2378 child-class"><h3>{{'mainpage.aboutlockunlock' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutlockunlock1' | translate}}</h3></li>
                                            <br> <button  class="button2 button" routerLink="/residentServices/8">{{'mainpage.lockunlock' | translate}}</button>
                                            </ul>
                                    </li>

                                  </ul>
                                  <!-- END: Modules Anywhere -->
                              </div>
                              
                          </div>

                          
                      </div>
                  </div>
                                      </div>

              
          </div>

      </div>
