<div id="main-content" class="tjbase-mainbodyblock  home no-background parentid-2376  com_content view-article ">
  <div class="container">
      <div class="row">
          <div id="message-component" class="col-xs-12">
              <div id="system-message-container">
              </div>

          </div>
      </div>
      <div id="mainbody" class="tjbase-mainbody">
          <div id="maincontent" class="col-xs-12 col-sm-8" role="main">

              <div class="col-10 pull-left">
                  <script type="text/javascript">
                      ;
                      (function($) {
                          $.fn.sharePopup = function(e, intWidth, intHeight, blnResize) {

                              // Prevent default anchor event
                              e.preventDefault();

                              // Set values for window
                              intWidth = intWidth || '500';
                              intHeight = intHeight || '400';
                              strResize = (blnResize ? 'yes' : 'no');

                              // Set title and open popup with focus on it
                              var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
                                  strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
                                  objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
                          }

                          $(document).ready(function($) {
                              $('.contentshare').on("click", function(e) {
                                  $(this).sharePopup(e);
                              });
                          });

                      }(jQuery));
                  </script>
                  <div class="itempage home no-background">
                      <div class="cs-top-gradient"></div>
                      <div class="item-page home no-background" itemscope="" itemtype="https://schema.org/Article">
                          <meta itemprop="inLanguage" content="en-GB">

                          <div class="page-header">
                              <!--
    <h2 itemprop="headline">
        </h2>
-->

                          </div>

                          <div class="fields-container search-result-design">
                          </div>
                          <div itemprop="articleBody">
                              <h1 class="content-heading">
  English Home Content			</h1>

                              <div>&nbsp;
                                  <!-- START: Modules Anywhere -->
                                  <ul class="nav menu custom-menu-layout">
                                      <li class=" item-2377 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="Generate Virtual ID">{{'mainpage.genVID' | translate}}</h2>
                                                  <div class="byline-description pl-60">
                                                      <p class="mb-0"><strong>{{'mainpage.subtext' | translate}}</strong></p>
                                                    
                                                  </div>
                                              </div>
                                          </div>                                       
                                          <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2378 child-class"><h3>{{'mainpage.aboutVID' | translate}}</h3></li>
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutgenVID' | translate}}</h3></li>
                                              <button class="button2 button" routerLink="/residentServices/1">{{'mainpage.genVID' | translate}}</button>
                                         </ul>
                                      </li>

                                      <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Revoke Virtual ID">{{'mainpage.revVID' | translate}}</h2>
                                                <div class="byline-description pl-60">
                                                    <p class="mb-0"><strong>{{'mainpage.aboutrevokeVID' | translate}}</strong></p>
                                                  
                                                </div>
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2380 child-class"><h3>{{'mainpage.aboutrevVID' | translate}}</h3></li>
                                            <button (click)="revokeVid()" class="button2 button" >{{'mainpage.revVID' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Check VID Status">{{'mainpage.checkVIDStatus' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2378 child-class"><h3>{{'mainpage.twotypesVID' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutVIDStatus' | translate}}</h3></li>
                                            <button (click)="checkStatusVid()" class="button2 button">{{'mainpage.checkVIDStatus' | translate}}</button>
                                            </ul>
                                    </li>

                                    <li class=" item-2377 menu12 deeper parent">
                                        <div class="cs-top-gradient"></div>
                                        <div class="content-body-cover">
                                            <div class="content-body">
                                                <h2 class="Update UIN">{{'mainpage.checkVIDStatus' | translate}}</h2>
                            
                                            </div>
                                        </div>                                       
                                        <ul class="nav-child unstyled small pl-80">
                                            <li class=" item-2378 child-class"><h3>{{'mainpage.twotypesVID' | translate}}</h3></li>
                                            <li class=" item-2380 child-class"><h3>{{'mainpage.aboutVIDStatus' | translate}}</h3></li>
                                            <button (click)="checkStatusVid()" class="button2 button">{{'mainpage.checkVIDStatus' | translate}}</button>
                                            </ul>
                                    </li>

                                      <li class=" item-2387 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="update-aadhaar"><a href="https://uidai.gov.in/my-aadhaar/update-aadhaar.html" class="menu_title_link">Update Aadhaar</a></h2>
                                                  <div class="byline-description pl-60">
                                                      <p class="mb-0"><strong>Keep your Aadhaar details up-to-date.</strong></p>
                                                      <div class="menu_description">
                                                          <p class="mb-0">It is essential that your Aadhaar Data is correct and remains updated always.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div><a href="https://uidai.gov.in/my-aadhaar/update-aadhaar.html" target="_blank" rel="noopener noreferrer">Update Your Aadhaar</a>
                                          <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2390 child-class"><a href="https://appointments.uidai.gov.in/easearch.aspx" target="_blank" rel="noopener noreferrer">Update Aadhaar at Enrolment/Update Center</a></li>
                                              <li class=" item-2392 child-class"><a href="https://resident.uidai.gov.in/check-aadhaar">Check Aadhaar Update Status</a></li>
                                              <li class=" item-2806 child-class"><a href="https://ssup.uidai.gov.in/ssup/" target="_blank" rel="noopener noreferrer">Update your address online</a></li>
                                              <li class=" item-4635 child-class"><a href="https://ssup.uidai.gov.in/ssupAddressPin/pinGenerate.html" target="_blank" rel="noopener noreferrer">Request for Address Validation Letter</a></li>
                                              <li class=" item-2807 child-class"><a href="https://ssup.uidai.gov.in/checkSSUPStatus/checkupdatestatus" target="_blank" rel="noopener noreferrer">Check Address Update Status</a></li>
                                              <li class=" item-2558 child-class"><a href="https://resident.uidai.gov.in/aadhaar-updatehistory">Aadhaar Update History</a></li>
                                          </ul>
                                      </li>
                                      <li class=" item-3190 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="avail-aadhaar-services"><a href="https://uidai.gov.in/my-aadhaar/avail-aadhaar-services.html" class="menu_title_link">Aadhaar Services</a></h2>
                                                  <div class="byline-description pl-60">
                                                      <p class="mb-0"><strong>An array of services for Aadhaar holders</strong></p>
                                                      <div class="menu_description">
                                                          <p class="mb-0">Aadhaar Registered Mobile number is essential to access the following services.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div><a href="https://uidai.gov.in/my-aadhaar/avail-aadhaar-services.html" target="_blank" rel="noopener noreferrer">Aadhaar Services</a>
                                          <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-3840 child-class"><a href="https://resident.uidai.gov.in/verify">Verify an Aadhaar Number</a></li>
                                              <li class=" item-2406 child-class"><a href="https://resident.uidai.gov.in/verify-email-mobile">Verify Email/Mobile Number</a></li>
                                              <li class=" item-2873 child-class"><a href="https://resident.uidai.gov.in/lost-uideid">Retrieve Lost or Forgotten EID/UID</a></li>
                                              <li class=" item-2409 child-class"><a href="https://resident.uidai.gov.in/vid-generation">Virtual ID (VID) Generator</a></li>
                                              <li class=" item-2407 child-class"><a href="https://resident.uidai.gov.in/offline-kyc">Aadhaar Paperless Offline e-KYC (Beta)</a></li>
                                              <li class=" item-2410 child-class"><a href="https://resident.uidai.gov.in/bank-mapper">Check Aadhaar/Bank Linking Status</a></li>
                                              <li class=" item-2408 child-class"><a href="https://resident.uidai.gov.in/bio-lock">Lock/Unlock Biometrics</a></li>
                                              <li class=" item-2412 child-class"><a href="https://resident.uidai.gov.in/aadhaar-auth-history">Aadhaar Authentication History</a></li>
                                              <li class=" item-4797 child-class"><a href="https://resident.uidai.gov.in/aadhaar-lockunlock">Aadhaar Lock and Unlock Service</a></li>
                                              <li class=" item-4800 child-class"><a href="https://uidai.gov.in/my-aadhaar/avail-aadhaar-services/aadhaar-services-on-sms.html" target="_blank" rel="noopener noreferrer">Aadhaar Services on SMS</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                                  <!-- END: Modules Anywhere -->
                              </div>
                              <div class="col-xs-12"></div>
                          </div>

                          <div class="row">
                              <div class="col-xs-12 mt-10">

                                  <div class="mobileshare" style="display:none">
                                      <img class="share-button" id="sharebtn" src="images/share.png" title="Share this content" alt="Share this content">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                                      </div>

              <div id="component-bottom" class="tjbase-component-bottom" role="contentinfo">
                  <div class="col-xs-12">
                      <div class="row">
                          <div class="tjbase-module menu-special-layout col-xs-12" id="tjmod-391">
                              <div class="module-content">
                                  <ul class="nav menu custom-menu-layout">
                                      <li class=" item-4428 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="what-is-aadhaar"><a href="https://uidai.gov.in/what-is-aadhaar.html" class="menu_title_link">What is Aadhaar</a></h2>
                                                  <div class="byline-description pl-60">
                                                      <div class="menu_description">
                                                          <p class="mb-0">Aadhaar is a verifiable 12-digit identification number issued by UIDAI to the resident of India for free of cost</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div><a href="https://uidai.gov.in/what-is-aadhaar.html" target="_blank" rel="noopener noreferrer">What is Aadhaar</a>
                                          <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2774 child-class"><a href="https://uidai.gov.in/images/recently_asked_ques_13012018.pdf" target="_blank" rel="noopener noreferrer">Aadhaar Mythbusters</a></li>
                                              <li class=" item-2775 child-class"><a href="https://uidai.gov.in/what-is-aadhaar/the-aadhaar-act.html" target="_blank" rel="noopener noreferrer">The Aadhaar Act</a></li>
                                          </ul>
                                      </li>
                                      <li class=" item-2776 menu12 deeper parent">
                                          <div class="cs-top-gradient"></div>
                                          <div class="content-body-cover">
                                              <div class="content-body">
                                                  <h2 class="aadhaar-eco-system"><a href="https://uidai.gov.in/aadhaar-eco-system.html" class="menu_title_link">Aadhaar Ecosystem</a></h2>
                                                  <div class="byline-description pl-60">
                                                      <div class="menu_description">
                                                          <p class="mb-0">Aadhaar ecosystem comprises of core infrastructures with the objective of providing enrolment, update &amp; authentication services. </p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div><a href="https://uidai.gov.in/aadhaar-eco-system.html" target="_blank" rel="noopener noreferrer">Aadhaar Ecosystem</a>
                                          <ul class="nav-child unstyled small pl-80">
                                              <li class=" item-2778 child-class"><a href="https://uidai.gov.in/ecosystem/enrolment-ecosystem/enrolment-agencies.html" target="_blank" rel="noopener noreferrer">Enrolment &amp; Update Ecosystem</a></li>
                                              <li class=" item-2777 child-class"><a href="https://uidai.gov.in/aadhaar-eco-system/authentication-ecosystem.html" target="_blank" rel="noopener noreferrer">Authentication Ecosystem</a></li>
                                              <li class=" item-4625 child-class"><a href="https://uidai.gov.in/aadhaar-eco-system/training-testing-certification-ecosystem.html" target="_blank" rel="noopener noreferrer">Training, Testing &amp; Certification Ecosystem</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </div>

                          </div>

                      </div>

                  </div>
              </div>
          </div>

      </div>